<div class="main-container">
<div class="bg-ab">
    <p>ABOUT ME</p>
</div>

<div class="about-container">
<div class="about-main" data-aos="fade-right" data-aos-duration="800">
    <div class="about title">
        ABOUT ME
    </div>
    <div class="brief">
         <p>
         Developer able to build an impactful web presence from navigation, layout,
         data-management and development to User experience. Able to designed and 
         manage product with efficient code in web development cycle also I am a 
         creative and reliable designer.  My designing or work process is based on the 
         research and insightsinto your business which eventualy transforms into a nice 
         and eye apealing visual.
        </p>
    </div>
</div>
<div class="about-img" data-aos="fade-left" data-aos-duration="800">
    <img src="../../assets/IMG_20210507_055842_883 1.png" alt="">
</div>
</div>
</div>