<div class="main-container" >
    <div class="bg-wk">
        <p>
            WORK
        </p>
        </div>
    <div class="work-main-container">
    <div class="work-container">
        <div class="title">WORK</div>
        <div class="cat">
            <ul>
                <li>DEVELOPMENT</li>
                <li>GRAPHIC</li>
                <li>MOTION</li>
                <li>UI/UX</li>
            </ul>
        </div>
        <div class="preview">
            <div class="row-1">
                <div class="row-col1" data-aos="zoom-in">
                    <a href="https://www.behance.net/gallery/94497753/ThumbnailBanners" target="blank"> <img src="../../assets/work/venom inside header.png" alt=""></a>
                   
                </div>
                <div class="row-col2" data-aos="zoom-in">
                    <a href="https://www.behance.net/gallery/109514859/Logofolio" target="blank"><img src="../../assets/work/asad logo w name_.png" alt=""></a>
                    
                </div>
                <div class="row-col3" data-aos="zoom-in">
                    <img src="../../assets/work/alert animation.gif" alt="">
                </div>
            </div>
            <div class="row-2"> 
                <div class="column-1">
                    <div class="c1-r1" data-aos="zoom-in">
                        <a href="http://woobchatui.herokuapp.com/" target="blank"><img src="../../assets/work/Phonebook WA.png" alt=""></a>
                        
                    </div>
                    <div class="c1-r2" data-aos="zoom-in">
                        <img src="../../assets/work/rager banner show.png" alt="">
                    </div>
                </div>
                <div class="column-2">
                    <div class="c2-r1" data-aos="zoom-in">
                        <a href="http://articlewebsite.herokuapp.com/" target="blank"><img src="../../assets/work/Article web app.png" alt=""></a>
                        
                    </div>
                    <div class="c2-r2" data-aos="zoom-in">
                        <a href="https://www.behance.net/gallery/111943197/Yono-UX-case-study" target="blank"><img src="../../assets/work/sbi Cover thumb.png" alt=""></a>
                    </div>
                </div>
                <div class="column-3">
                    <div class="c3-r1" data-aos="zoom-in">
                        <img src="../../assets/work/Freefire spring champions.jpg.png" alt="">
                    </div>
                    <div class="c3-r2" data-aos="zoom-in">
                        <img src="../../assets/work/sane_icon.gif" alt="">
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    </div>
</div>