<div class="main-container">


<div class="hero-container">
    <img src="../assets/image 1.png" class="bg-img" />
    <div class="img-container">
       
    </div>
    <div class="main-info">
        <div class="main">
            <div class="s-title">HELLO, I AM</div>
            <div class="L-title"> <span style="color: #F30F46;">SAHIL</span> PATEL</div>
            <div class="s-brief">
                <p>
                    I help people to bring digital product to live and visualize, also create impactful 
                    online presence.
                </p>
            </div>
            <div class="head-btn">
                <a href="../../assets/Sahil_Patel_CV20052021.pdf" download><button class="cv-btn">GET CV</button></a>
                <button class="work-btn" (click)="work()">MY WORK</button>
            </div>
        </div>
    </div>
    <div class="social-container">
        <div class="social-img">
            <a href="https://bit.ly/3zHrArO" target="blank"> <img src="../../assets/akar-icons_github-fill.png" alt=""></a>
            <a href="https://bit.ly/3cXOKAq" target="blank"><img src="../../assets/behance 1.png" alt=""></a>
            <a href="https://bit.ly/3cVibmP" target="blank"><img src="../../assets/instagram 1.png" alt=""></a>
            <div class="discord"><img src="../../assets/logos_discord-icon.png" alt=""></div> 
        </div>
    </div>
</div>
</div>