<div class="main-container">
  
  <div class="skills-container">
    <div class="about-img" data-aos="fade-up" data-aos-duration="800">
        <img src="../../assets/Skillls.png" alt="">
    </div>
    <div class="skills-main" data-aos="fade-left" data-aos-duration="800">
      <div class="skills title">SKILLS</div>
      <div class="skills-tab">
        <div class="skill-bar" data-aos="fade-right">
            <p>DEVELOPMENT & CODING</p>
            <div class="bar dev"></div>
        </div>
        <div class="skill-bar" data-aos="fade-right">
            <p>UI/UX DESIGN</p>
            <div class="bar ux"></div>
        </div>
        <div class="skill-bar" data-aos="fade-right">
            <p>GRAPHIC DESIGN</p>
            <div class="bar gfx"></div>
        </div>
        <div class="skill-bar" data-aos="fade-right">
            <p>MOTION DESIGN</p>
            <div class="bar vfx"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-sk">
    <p>SKILLS</p>
  </div>

</div>
