
  <div class="nav-container" id="nav-container">
    <ul class="nav">
      <li class="nav-item" (click)="scrollabout('home')"><a>HOME</a></li>
      <li class="nav-item" (click)="scrollabout('work')"><a>WORK</a></li>
      <li class="nav-item" (click)="scrollabout('skills')"><a>SERVICES</a></li>
      <li class="nav-item" (click)="scrollabout('about')"><a>ABOUT</a></li>
      <li class="nav-item" (click)="scrollabout('contact')"><a>CONTACT</a></li>
    </ul>
  </div>
    <app-hero-header id="home" (emit)="scrollabout('work')"></app-hero-header>
    <app-about id="about" ></app-about>
    <app-skills id="skills"></app-skills>
    <app-work id="work"></app-work>
    <app-testimonials id="tsmt"></app-testimonials>
    <app-contact id="contact"></app-contact>
    <footer> <div class="center"> © 2021 SAHIL. ALL RIGHT RESERVED</div></footer>

