<div class="main-container">
    <img src="../../assets/image 2.png" alt="" class="bg-img">
    <div class="tstm-container">
        <div class="title">TESTIMONIALS</div>
        <div class="brief">Feedback from clients</div>

        <div class="container">
            <div class="card-container">
                <div class="card" data-aos="fade-up"
                data-aos-duration="500">
                    <div class="c-img">
                        <div class="main-name"><p>Abdalla Malik</p>
                        </div>
                        <div class="message">
                            <p>
                                "I think you have proven you work and worth when you do some work which is asked when I gave you just and idea of how I want my stream to look like and then what I saw was even better then I have imagined
                                I think your very underrated and I have always recommended  you around for the best work that you have done"
                            </p>
                        </div>
                    </div>
                    <div class="fd">
                        <div class="rating">
                            <div class="rat-cont">
                                <img src="../../assets/star.png" alt="">
                                <img src="../../assets/star.png" alt="">
                                <img src="../../assets/star.png" alt="">
                                <img src="../../assets/star.png" alt="">
                                <img src="../../assets/star.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card" data-aos="fade-up"
                data-aos-duration="800">
                    <div class="c-img">
                        <div class="main-name"><p>Siddhant Tiwari</p>
                        </div>
                        <div class="message">"I really liked your art. The work you do is very different from others and
                             really eye catching. The best thing I like about your work is innovation like every time you 
                             add some things which makes your work different from your previous work which is a very good 
                             practice. I am in touch with you from a very long time now and I still consider your work as 
                             the best till now. Keep up the good work."</div>
                    </div>
                    <div class="fd">
                        <div class="rating">
                            <div class="rat-cont">
                                <img src="../../assets/star.png" alt="">
                                <img src="../../assets/star.png" alt="">
                                <img src="../../assets/star.png" alt="">
                                <img src="../../assets/star.png" alt="">
                                <img src="../../assets/rating.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
            <div class="card-container">
                <div class="card" data-aos="fade-up"
                data-aos-duration="800">
                    <div class="c-img">
                        <div class="main-name"><p>Amit Singh</p>
                        </div>
                        <div class="message">"Sahil a.k.a Kraddy  and I have been working together from more than 2 years since i started my Streaming career, 
                            he is most dedicated Graphic Designer I have ever worked with. He always comes up with the innovative ideas and all.
                             All of my channel work is done by him and he has put all of his heart to every single overlay and even in the smallest thing."</div>
                    </div>
                    <div class="fd">
                        <div class="rating">
                            <div class="rat-cont">
                                <img src="../../assets/star.png" alt="">
                                <img src="../../assets/star.png" alt="">
                                <img src="../../assets/star.png" alt="">
                                <img src="../../assets/star.png" alt="">
                                <img src="../../assets/rating.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card" data-aos="fade-up"
                data-aos-duration="500">
                    <div class="c-img">
                        <div class="main-name"><p>Abdul Raza</p>
                        </div>
                        <div class="message">
                            <p>
                                "Sahil understood the project brief very quickly.
    The logo design process was fast and exactly as the project brief.
    But the best part was the video intro - I was blown away when I saw it the first time! It was like watching your thoughts being brought to life.
    Through out the process Sahil was thoroughly professional. The delivery time was also much faster than expected."
                            </p>
                        </div>
                    </div>
                    <div class="fd">
                        <div class="rating">
                            <div class="rat-cont">
                                <img src="../../assets/star.png" alt="">
                                <img src="../../assets/star.png" alt="">
                                <img src="../../assets/star.png" alt="">
                                <img src="../../assets/star.png" alt="">
                                <img src="../../assets/star.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
    
    
            </div>
        </div>


        
        <div class="more"><p>See more...</p></div>
    </div>
</div>

