html,body,p{
    color: #EFEFEF;
    margin:0px;
    scroll-behavior: smooth;
}
html{
    font-family: 'Poppins';
    background: #090909;
}
::-webkit-scrollbar{
    background-color: #090909;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #111111;
    border-radius: 30px;
}

.title{
    font-size: 3.5vw;
    color: #f30f46;
    font-weight: 500;
}